<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd">
	<!-- Spring Property Files -->
	<context:property-placeholder location="./conf/beanEsbConfig.properties" />
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- Spring Imports -->
	<import resource="classpath:./spring/commonContext.xml" />


	<!-- ES Definitions -->
	<elasticsearch:node-client id="compliance" local="true" />
	<!-- Cluster Mode of External ES Server -->
	<!-- elasticsearch:transport-client id="compliance" cluster-name="elasticsearch" cluster-nodes="127.0.0.1:9300" / -->
	<elasticsearch:repositories base-package="com.lithium.esb.compliance.repositories" />
	<bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="compliance" />
	</bean>

	<!-- Processors -->
	<bean id="convertFileNameToHdfsFileDetail" class="com.lithium.esb.compliance.common.ConvertFileNameToHdfsFileDetail" />
	<bean id="convertFileContentToActivityStreamV1" class="com.lithium.esb.compliance.common.ConvertFileContentToActivityStreamV1" />
	<bean id="hdfsLogProcessor" class="com.lithium.esb.compliance.common.HdfsLogProcessor" />
	<bean id="convertToSecureEventProcessor" class="com.lithium.esb.compliance.common.ConvertToSecureEventProcessor" />
	<bean id="convertToBytesProcessor" class="com.lithium.esb.compliance.common.ConvertToBytesProcessor" />
	<bean id="splitMessageProcessor" class="com.lithium.esb.compliance.common.SplitMessageProcessor" />
	<bean id="globalExceptionProcessor" class="com.lithium.esb.compliance.exception.GlobalExceptionProcessor" />
	<bean id="auditHandler" class="com.lithium.esb.compliance.common.AuditHandler" />

	<!-- Spring Beans -->
	<bean name="esInboundService" class="com.lithium.esb.compliance.inbound.EsInboundAdaptor" />
	<bean name="esOutboundService" class="com.lithium.esb.compliance.outbound.EsOutboundAdaptor" />
	<bean id="hdfs2InboundService" class="com.lithium.esb.compliance.inbound.Hdfs2InboundAdaptor">
		<constructor-arg name="lookupFolderName" type="java.lang.String" value="${lookupFolderName}" />
		<constructor-arg name="currentMonthFilesOnly" type="java.lang.Boolean" value="${currentMonthFilesOnly}" />
	</bean>
	<bean id="hdfs2InboundAdaptorFactory" class="com.lithium.esb.compliance.inbound.Hdfs2InboundAdaptorFactory">
		<property name="hdfs2InboundService" ref="hdfs2InboundService" />
	</bean>
	<bean id="hdfs2InboundAdaptor" scope="prototype" factory-bean="hdfs2InboundAdaptorFactory" factory-method="createHdfs2InboundService" />
	<bean id="hdfs2ConsumerService" scope="prototype" class="com.lithium.esb.compliance.inbound.Hdfs2ConsumerProvider"
		factory-method="creatHdfs2ConsumerProviderWithDefaultConfiguration" />
	<bean name="aesMessageDecryption" class="com.lithium.esb.compliance.beans.AesMessageDecryption" />
	<bean name="aesMessageEncryption" class="com.lithium.esb.compliance.beans.AesMessageEncryption" />

	<!-- Utility Spring Beans -->
	<bean name="readFileContent" class="com.lithium.esb.compliance.common.ReadFileContent" />
	<bean name="writeFileContent" class="com.lithium.esb.compliance.common.WriteFileContent" />
	<bean name="xzDecompressFile" class="com.lithium.esb.compliance.common.XZDecompressFile" />

	<!-- LSW Spring Beans -->
	<bean name="lswSqsOutbound" class="com.lithium.esb.compliance.lsw.api.outbound.LswSqsOutboundImpl" />
	<bean name="convertFileContentToLswEvent" class="com.lithium.esb.compliance.common.ConvertFileContentToLswEvent" />
	<bean name="lswSqsInbound" class="com.lithium.esb.compliance.lsw.api.inbound.LswSqsInboundImpl" />
	

</beans>
